<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Accounts</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/accounts.css') }}">
</head>

<body>

<div class="container">

    <div class="top-bar">
        <h1>Volunteer Accounts</h1>

        <a href="/dashboard">
            <button>← Dashboard</button>
        </a>
    </div>

    <div class="search-box">
        <input
            type="text"
            id="searchInput"
            placeholder="Search Volunteer..."
        >
    </div>
   
    <table id="accountsTable">

        <thead>

          <tr>
              <th>ID</th>
              <th>Full Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Action</th>
           </tr>  

        </thead>

        <tbody>

        {% for volunteer in volunteers %}

        <tr>

           <td>{{ volunteer.id }}</td>
           <td>{{ volunteer.fullname }}</td>
           <td>{{ volunteer.username }}</td>
           <td>{{ volunteer.email }}</td>
<td>

      <a href="{{ url_for('delete_volunteer_route', id=volunteer.id) }}"

         onclick="return confirm('Are you sure you want to delete this volunteer account?')">

         <button class="delete-btn">

             Delete

         </button>

      </a>

   </td>
         
      </tr>
        {% endfor %}

        </tbody>

    </table>

</div>

<script src="{{ url_for('static', filename='js/accounts.js') }}"></script>

</body>
</html>
