<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Expense</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/finance.css') }}">
</head>
<body>

<div class="container">

    <div class="top-bar">
        <h1>Edit Expense</h1>

        <a href="{{ url_for('finance') }}">
            <button>← Back</button>
        </a>
    </div>

    <div class="form-section">

        <form method="POST">

            <input
                type="text"
                name="purpose"
                value="{{ expense.purpose }}"
                required
            >

            <input
                type="number"
                step="0.01"
                name="amount"
                value="{{ expense.amount }}"
                required
            >

            <input
                type="date"
                name="spent_on"
                value="{{ expense.spent_on }}"
                required
            >

            <input
                type="text"
                name="paid_to"
                value="{{ expense.paid_to }}"
                required
            >

            <textarea name="remarks">{{ expense.remarks }}</textarea>

            <button type="submit">
                Update Expense
            </button>

        </form>

    </div>

</div>

</body>
</html>