<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homeless Rescue & Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

<div class="container">

    <!-- Left Panel -->
    <div class="left-panel">

    <h1>Sabarmati NGO</h1>

    <h2>Homeless Rescue & Management System</h2>

    <p>
        Sabarmati NGO is dedicated to rescuing, rehabilitating and supporting homeless people by providing shelter, food and essential care.
    </p>

    <p><em>"Together we can restore hope and dignity."</em></p>

</div>
    <!-- Right Panel -->
    <div class="right-panel">

        <div class="login-card">

            <h2>Login</h2>

            <form method="POST">

                <input type="text"
                       name="username"
                       placeholder="Enter Username"
                       required>

                <input type="password"
                       name="password"
                       placeholder="Enter Password"
                       required>

                <button type="submit">Login</button>

            </form>

            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}

        </div>

    </div>

</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
