<!DOCTYPE html>
<html>
<head>
    <title>Search Persons</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
</head>
<body>

<div class="container">

<h2>Search Homeless Persons</h2>

<input
type="text"
id="searchInput"
placeholder="Search by Name or Location..."
onkeyup="searchPerson()">

<select id="statusFilter" onchange="filterStatus()">
    <option value="All">All</option>
    <option value="Rescued">Rescued</option>
    <option value="Medical Care">Medical Care</option>
    <option value="In Shelter">In Shelter</option>
    <option value="Reunited">Reunited</option>
</select>

<table id="personTable">

<thead>
<tr>
<th>Name</th>
<th>Age</th>
<th>Location</th>
<th>Status</th>
</tr>
<thead>

<tbody>
    
<tr>
<td>Ravi</td>
<td>45</td>
<td>Chennai</td>
<td>Medical Care</td>
</tr>

<tr>
<td>Mani</td>
<td>60</td>
<td>Madurai</td>
<td>In Shelter</td>
</tr>

<tr>
<td>Kumar</td>
<td>52</td>
<td>Trichy</td>
<td>Reunited</td>
</tr>
    
<tbody>

</table>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>

</body>
</html>
