<!DOCTYPE html>
<html>
<head>
    <title>Homeless Persons List</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_person.css') }}">
    

</head>

<body>

<h2>Homeless Persons Details</h2>

<center>
    <input
        type="text"
        id="searchInput"
        placeholder="Search by Name...">
</center>

<br>

<table id="personsTable">

<tr>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Location Found</th>

    
    <th>Edit</th>
    <th>Delete</th>
</tr>

{% for person in persons %}

<tr>
    <td>{{ person.name }}</td>
    <td>{{ person.age }}</td>
    <td>{{ person.gender }}</td>
    <td>{{ person.location }}</td>

    <td>
    <a href="{{ url_for('edit_person', id=person.id) }}">
        <button class="edit-btn">Edit</button>
    </a>
    </td>

    <td>
    <a href="{{ url_for('delete_person_route', id=person.id) }}"
       onclick="return confirm('Are you sure you want to delete this record?')">
        <button class="delete-btn">Delete</button>
    </a>
</td>

</tr>

{% endfor %}

</table>

<br>

<a href="{{ url_for('add_person') }}">
    <button>Add New Person</button>
</a>

<script src="{{ url_for('static', filename='js/view_persons.js') }}"></script>

</body>
</html>
